%h1
  Weekly updates for
  %span.person= @person.name

%table
  %tr
    %th Project
    %th Person
    %th Weekstart
    %th Rag
    %th Percent
    %th Comment
    %th
 
  - @updates.each do |project,weeklies|
    - wu = weeklies.first
    %tr
      %td= project.name
      %td= wu.person.name
      %td= wu.weekstart
      %td= wu.rag
      %td= wu.percent
      %td= wu.comment
      %td
        - if wu.is_current_week?
          = link_to 'Edit', edit_weekly_update_path(wu)
        - else
          = link_to 'New', new_update_path(wu.project, wu.person)

%br

= link_to 'Add a new project'